h1{
    color: rgb(73, 100, 58);
    background-color: rgb(255, 205, 247);
    text-align: right;
    width: 50%;
    text-decoration: wavy underline blueviolet;
    font-family: script;
}
p{
    color: rgb(87, 5, 5);
    background-color: rgb(183, 193, 252);
    text-align: center;
    line-height: 2;
    letter-spacing: 2px;
}
button{
    color: rgb(85, 110, 35);
    background-color: rgb(208, 253, 182);
    text-decoration: palevioletred dotted underline;
}
a{
    color: blueviolet;
    font-style: italic;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
}