<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: blue; background-color: antiquewhite;">
        Inline CSS
    </h1>
    <p style="color: burlywood; background-color: brown;">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit quibusdam error, saepe adipisci porro mollitia et ea ut harum repudiandae a doloremque nisi necessitatibus nemo odio? Illum quas omnis pariatur?
    </p>
    <button style="color: blueviolet; background-color: gainsboro;">
        Click Here
    </button>
    <p style="cursor: help; color: blueviolet; background-color: azure;">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus numquam harum adipisci voluptatibus voluptate amet, delectus corporis repellendus doloribus ratione, laborum quod totam reiciendis, iste nesciunt odit temporibus officiis?
    </p>
</body>
</html>
